@font-face {
	font-family: apercu;
	src: ../fonts/Apercu.otf;
}

html {
	-moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
	font-size: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', apercu, 'Work Sans', Helvetica;
	/*border: 25px solid rgba(225, 225, 225, 0.5);
	padding: 25px;*/
	min-height: 100vh;
	box-sizing: border-box;
}

strong { 
	font-weight: bold; 
}
/*
h1 {
	display: block;
    font-size: 2rem;
    margin-top: 0.67rem;
    margin-bottom: 0.67rem;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 { 
    display: block;
    font-size: 1.17rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h4 { 
    display: block;
    font-size: 1rem;
    margin-top: 1.33rem;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
*/
h5 { 
    display: block;
    font-size: .83em;
    /*margin-top: 1.67em;
    margin-bottom: 1.67em;*/
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
/*
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
*/
header {
	display: flex;
	width: 100%;
	position: fixed;
	z-index: 10;
	background-color: white;
	padding-top: 20px;
	padding-left: 40px;
	padding-bottom: 20px;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: baseline;
}

#main-title {
	font-size: 36px;
	color: #404040;
}

header nav a {
	color: gray;
	padding: 8px;
	font-size: 18px;
}

header nav a:hover {
	color: #202020;
}

a:link {
	text-decoration: none;
}
.description{
	padding-top: 1.75em;
	padding-bottom: 1.75em;
}
/*
#close-button {
  display: block;
  position: absolute;
  right: 50px;
  top: 50px;
  width: 30px;
  height: 30px;
}

#close-button span {
  background: #777;
  width: 30px;
  height: 6px;
  display: block;
  position: absolute;
  top: 14px;
}

#close-button:hover span {
	background: #333;
}

.x-1 {
  transform: rotate(45deg);
}

.x-2 {
  transform: rotate(-45deg);
}
*/
#about {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
	background-color: rgb(177, 177, 177);
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	min-height: 100vh;
}

#about img {
	width: 50%;
	height: auto;
	border-radius: 50%;
	border: solid rgb(255, 219, 150) 7px;
	
}

#about .title {
	font-size: 1.875rem;
	margin-bottom: 1em;
}

#about .subtitle {
	font-size: 1.5rem;
	margin-bottom: 0.75em;
}

#about-text {
	width: 75%;
	color: white;
	text-align: center;
}

#about p {
	font-size: 1.25rem;
	margin-bottom: 1.75em;
}

#about p:last-child {
	margin-bottom: 0;
}

/*desktop styling */
@media screen and (min-width: 600px) {
	#about {
		flex-direction: row;
		justify-content: space-between;
	}

	#about img{
		width: 20%;
		margin-left: 10%;
	}

	#about #about-text {
		text-align: left;
		width: 50%;
		padding:20px;
		padding-right: 10%;
	}
}

/*
img {
	width: 100%;
	position: relative;
	box-sizing: border-box;
	align-self: center;
}
*/

.content {
	width: 80%;
	margin: auto;
	text-align:center;
}

.content .title {
	font-size: 1.875rem;
	margin-bottom: 1em;
	text-align: left;
}

.row {
	width: 100%;
	text-align: right;
	margin-right: 10%;
}

@media screen and (min-width: 600px) {
	.row {
		margin: auto;
	}

	.row.dropdown * {
		display: inline-block;
	}
}
img.full-width{
	padding: 75px;
}

.description {
	font-size: 1em;
}
/*
.content {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}
*/
/*
.content p {
	font-size: 18px;
	line-height: 24px;
	text-align: left;
	padding-bottom: 24px;
}
*/
.content p {
	font-size: 17px;
    font-size: 1.0625rem;
    line-height: 26px;
    line-height: 1.625rem;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    max-width: 570px;
}
.content h3 {
	text-align: left;
}

.section {
	/*display: inline-block;*/
	margin-left: 50%;
	box-sizing: border-box;
}

.left-two-thirds {
	width: 66.67%;
	height: auto;
	/*padding: 20px;*/
}

img.left-two-thirds {
	align-self: center;
}
.right-third {
	width: 33.33%;
}
/*
.full-width {
	width: 100%;
	height: auto;
}
/*
.half-width {
	width: 45%;
	padding: 2%;
	vertical-align: middle;
}
*/